/* Regla genérica para todas las secciones que terminan en -section */
[class$="-section"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: clamp(15px, 2vh, 30px); /* Espacio estándar entre elementos en secciones */
}

/* Ajuste específico para .image-section */
.image-section {
    gap: clamp(8px, 1vw, 20px); /* Espacio más pequeño y personalizado para la sección de imagen */
}